<hr class="border-sky-500/40" />
<footer class="flex items-center justify-around p-2 gap-2">
  <img src="../../public/logo-Pomadoc.svg" alt="logo" class="w-8" />
  <article class="flex flex-col gap-2 md:gap-8 sm:flex-row">
    <p><strong>Dirección:</strong> barrios altos JR 14</p>
    <p><strong>Telefono:</strong> 51-924xx141x</p>
    <p><strong>Email:</strong> poma.dent@gmail.com</p>
  </article>
</footer>
