<hr class="border-sky-500/40" />
<footer class="flex items-center justify-around p-2 gap-2">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/proyectointegrador-storage.appspot.com/o/img%2Flogo-Pomadoc.svg?alt=media&token=8aedd231-5bcd-4655-8faa-52b51b67a11a"
    alt="logo"
    class="w-8"
  />
  <article class="flex flex-col gap-2 md:gap-8 sm:flex-row">
    <p><strong>Dirección:</strong> barrios altos JR 14</p>
    <p><strong>Telefono:</strong> 51-924xx141x</p>
    <p><strong>Email:</strong> poma.dent@gmail.com</p>
  </article>
</footer>
