<section class="grid sm:flex sm:items-center justify-center gap-3 p-2">
  <article class="p-2 border rounded border-sky-500">
    <h4 class="text-xl font-semibold text-sky-700">Misión</h4>
    <p class="sm">
      Nuestra misión es proporcionar servicios dentales de alta calidad con un
      enfoque en la prevención y el tratamiento integral. Nos esforzamos por
      mejorar la salud oral de nuestros pacientes en un ambiente cómodo y
      amigable, utilizando tecnología de vanguardia y técnicas modernas.
    </p>
  </article>
  <article class="p-2 border rounded border-sky-500 -order-1 sm:order-[0]">
    <h4 class="text-3xl font-semibold text-sky-700">¿Quiénes somos?</h4>
    <p class="text-lg">
      Somos un equipo de profesionales de la odontología comprometidos con la
      salud y el bienestar de nuestros pacientes. Nuestra clínica dental se
      destaca por ofrecer un servicio de alta calidad, personalizado y con los
      más altos estándares de higiene y seguridad.
    </p>
  </article>
  <article class="p-2 border rounded border-sky-500">
    <h4 class="text-xl font-semibold text-sky-700">Visión</h4>
    <p class="sm">
      Nuestra visión es ser reconocidos como una clínica dental de referencia,
      donde cada paciente se sienta valorado y atendido con profesionalismo.
      Aspiramos a ser líderes en servicios dentales, manteniendo siempre un
      compromiso con la excelencia y la mejora continua.
    </p>
  </article>
</section>
