---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://firebasestorage.googleapis.com/v0/b/proyectointegrador-storage.appspot.com/o/img%2Flogo-Pomadoc.svg?alt=media&token=8aedd231-5bcd-4655-8faa-52b51b67a11a"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full flex flex-col items-center overflow-x-hidden">
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: "Onest Variable", sans-serif;
  }

  .responsive-container-text {
    @apply max-w-xs md:max-w-xl xl:max-w-3xl;
  }
</style>
